<nav>
  <div>logo</div>

  <div>
    <button id="loginBtn">Login</button>
  </div>
</nav>

<h2>JOIN US</h2>

<form action="/signup" method="POST">
  <div>
    <label>Your Name* </label>
    <input type="text" name="username" />
  </div>

  <div>
    <label>Email Address* </label>
    <input type="email" name="email" />
  </div>

  <div>
    <label>Password*</label>
    <input type="password" name="password" />
  </div>

  <div>
    <input type="checkbox" name="checkbox" id="checkbox" />
    <label>Agree to Terms and Conditions</label>
  </div>

  <div>
    <button type="submit">Sign up</button>
  </div>
</form>
